
/*Colors*/
$basic: #16293F;
$accent: #0E0865;
$white: #fff;
$blue: #293389;
$lightBlue: #D8EAFC;
$buttonBg: #8185C8;

/*Fonts*/
$inter: 'Inter', sans-serif;
$notoSerif: 'Noto Serif', serif;

/*Screen width*/
$lg: 84%;
$md: 88%;
$sm: 90%;
